server:
 port: 8080
 
spring:
 application:
  name: USER-SERVICE
  
eureka:
 client:
  serviceUrl:
   defaultZone: http://localhost:8761/eureka/

management:
 endpoints:
  web:
   exposure:
    include: "*"
 endpoint:  health:   show-details: always
   show-components: always

info:
 app:
  name: user-service
  description: User service with actuator enabled
  version: 1.0
  encoding: UTF-8
  java.version: 11